.container {
  background-color: #faf9f7;
}

.navigation {
  display: flex;
  background-color: aqua;
  width: 100%;
  height: 70px;
}

.navigationUl {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.li {
  list-style: none;
}

main {
  height: 100vh;
}
